

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#E6F7FF;
    font-family:Arial, Helvetica, sans-serif;
    color:#000000;
    margin:20px;
}

/* ---------- Header ---------- */

header{
    background-color:#003366;
    color:white;
    text-align:center;
    padding:20px;
    border-radius:10px;
    margin-bottom:15px;
}

header img{
    border-radius:10px;
}

header h1{
    margin-top:10px;
    margin-bottom:5px;
    font-size:36px;
}

header h3{
    font-size:22px;
    font-weight:normal;
}

/* ---------- Navigation ---------- */

nav{
    background-color:#99CCFF;
    padding:12px;
    text-align:center;
    border-radius:8px;
    margin-bottom:20px;
}

nav a{
    text-decoration:none;
    color:#003366;
    font-weight:bold;
    margin:12px;
    font-size:17px;
}

nav a:hover{
    color:red;
}

/* ---------- Main ---------- */

main{
    background-color:white;
    padding:20px;
    border-radius:10px;
}

section{
    margin-bottom:25px;
}

/* ---------- Headings ---------- */

h2{
    color:#003366;
    margin-bottom:15px;
}

h3{
    color:#003366;
}

/* ---------- Paragraph ---------- */

p{
    line-height:1.6;
}

/* ---------- Lists ---------- */

ul,ol{
    margin-left:30px;
    line-height:1.8;
}

/* ---------- Table ---------- */

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
    margin-bottom:15px;
}

table,th,td{
    border:1px solid #003366;
}

th{
    background-color:#99CCFF;
}

th,td{
    padding:12px;
    text-align:center;
}

/* ---------- Form ---------- */

input,
select,
textarea{

    width:100%;
    padding:8px;
    margin-top:5px;
    margin-bottom:10px;
}

input[type="submit"],
input[type="reset"],
input[type="button"]{

    width:auto;
    background-color:#003366;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:5px;
    cursor:pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{

    background-color:#0059B3;
}

/* ---------- Images ---------- */

img{
    border-radius:8px;
    margin:10px;
}

/* ---------- Horizontal Line ---------- */

hr{
    margin:20px 0;
}

/* ---------- Footer ---------- */

footer{
    background-color:#003366;
    color:white;
    text-align:center;
    padding:20px;
    border-radius:10px;
    margin-top:20px;
}

footer p{
    margin:5px;
}